<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/css/shop-homepage.css" rel="stylesheet" />*@
    @Styles.Render("~/bundles/css")
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Start Business</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">                        
                        @Html.ActionLink("Add WareHouse", "AddWareHouse", "Admin", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">                        
                        @Html.ActionLink("Order Cargo", "OrderCargo", "Admin", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">                        
                        @Html.ActionLink("Shift Order", "ShiftOrder", "Admin", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">                        
                        @Html.ActionLink("View Order", "ViewOrder", "Admin", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">                        
                        @Html.ActionLink("Trace Cargo", "TraceCargo", "Admin", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">                        
                        @Html.ActionLink("Reorder", "Reorder", "Admin", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Log Out", "LogOut", "Admin", new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">        
            @RenderBody()        
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
